
@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!--Page Title-->
<section class="page-title" style="background-image:url(@Url.Content("~/Content/mytemplate/")images/background/bg-page-title-1.jpg);">
    <div class="auto-container">
        <h1>FAQs</h1>
        <div class="bread-crumb-outer">
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">FAQs</li>
            </ul>
        </div>
    </div>
</section>


<!--FAQs Section-->
<section class="faqs-section">
    <div class="auto-container">
        <!--Section Title-->
        <div class="sec-title centered">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <div class="separator"></div>
        </div>
        <div class="title-box">
            <h3>GENERAL QUESTIONS</h3>
        </div>

        <div class="row clearfix">
            <!--Column-->
            <div class="column col-md-7 col-sm-12 col-xs-12">
                <div class="faqs-container">
                    <!--Accordion Box-->
                    <ul class="accordion-box">

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> Is Charity A Recognized Organization?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> How Can I View Your Annual Report To Know That How You Use Our Money? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> Don’t Government Provide Any Support? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> Does Charity Provide Information About Where My Donation Is Used?  </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> How Does Your Team Raise Fund For Resources?  </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> What Method Do Charity Use To Choose Project For Its Support? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> How Does Charity Work To Ensure Child Rights?  </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> Will My Little Contribution Be Helpful For You? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> <span class="icon icon-minus fa fa-angle-up"></span></div> Why Does Charity Not Provide Information About Children? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Cat slap dog in face need to chase tail knock dish off table head butt cant eat out of my own dish lick arm hair has closed eyes but still sees you for intrigued by the shower. Get video posted to internet for chasing red dot sleep on keyboard. </p>
                                </div>
                            </div>
                        </li>

                    </ul><!--End Accordion Box-->
                </div>
            </div>

            <!--Column-->
            <div class="column col-md-5 col-sm-12 col-xs-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="video-outer">
                        <iframe height="300" allowfullscreen="" src="http://player.vimeo.com/video/56999995?color=ffffff"></iframe>
                    </div>
                </div>

                <!--Info Box-->
                <div class="info-box">
                    <div class="inner">
                        <h4>You still have questions? <a href="#">Ask us</a></h4>
                        <div class="text"> Is there any query left? You can directly share with us and clear away all your confusions.</div>
                        <a href="contact.html" class="theme-btn btn-style-three">ASK QUESTIONS</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

