
@{
    ViewBag.Title = "Volunteer";
}

 <!--Page Title-->
<section class="page-title" style="background-image:url(@Url.Content("~/Content/mytemplate/")images/background/bg-page-title-1.jpg);">
    <div class="auto-container">
        <h1>Volunteer</h1>
        <div class="bread-crumb-outer">
            <ul class="bread-crumb clearfix">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li><a href="#">Pages</a></li>
                <li class="active">Volunteer</li>
            </ul>
        </div>
    </div>
</section>

<!--Volunteer Section-->
<section class="volunteer-section">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-7 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="bold-text">Chew foot tuxedo cats always looking dapper fall asleep on the washing machine and give attitude ears back wide eyed while you're using the keyboard.</div>
                    <figure class="image-box"><img src="@Url.Content("~/Content/mytemplate/")images/resource/featured-image-16.jpg" alt=""></figure>
                    <div class="text">Attack feet meow for food, then when human fills food dish, take a few bites of food and continue meowing or lick the other cats for sleep nap caticus cuteicus so tuxedo cats always looking dapper asdflkjaertvlkjasntvkjn (sits on keyboard). Please stop looking at your phone and pet me rub face on owner for have secret plans but run outside as soon as door open jump off balcony, onto stranger's head chase mice, but hunt anything that moves. Burrow under covers i am the best. Lick butt and make a weird face soft kitty warm kitty little ball of furr or walk on car leaving trail of paw prints on hood and windshield for paw at your fat belly. All of a sudden cat goes crazy kitty power! paw at your fat belly intrigued by the shower human give me attention meow. </div>
                </div>
            </div>

            <!--How To Column-->
            <div class="how-to-column col-md-5 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="default-title"><h3>HOW TO APPLY</h3></div>
                    <!--Info Block-->
                    <div class="info-block">
                        <div class="inner">
                            <div class="icon-box wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms"><span class="flaticon-user-1"></span><span class="left-top-span"></span><span class="right-top-span"></span><span class="left-bottom-span"></span><span class="right-bottom-span"></span></div>
                            <h4>REGISTRATION</h4>
                            <div class="text">Please stop looking at your phone and pet me rub face on owner for have secret</div>
                        </div>
                    </div>

                    <!--Info Block-->
                    <div class="info-block">
                        <div class="inner">
                            <div class="icon-box wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms"><span class="flaticon-list-1"></span><span class="left-top-span"></span><span class="right-top-span"></span><span class="left-bottom-span"></span><span class="right-bottom-span"></span></div>
                            <h4>CHECK OUR PROGRAM</h4>
                            <div class="text">Please stop looking at your phone and pet me rub face on owner for have secret</div>
                        </div>
                    </div>

                    <!--Info Block-->
                    <div class="info-block">
                        <div class="inner">
                            <div class="icon-box wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms"><span class="flaticon-money-bag"></span><span class="left-top-span"></span><span class="right-top-span"></span><span class="left-bottom-span"></span><span class="right-bottom-span"></span></div>
                            <h4>MAKE DONATION</h4>
                            <div class="text">Please stop looking at your phone and pet me rub face on owner for have secret</div>
                        </div>
                    </div>

                    <!--Info Block-->
                    <div class="info-block">
                        <div class="inner">
                            <div class="icon-box wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms"><span class="flaticon-sticker-1"></span><span class="left-top-span"></span><span class="right-top-span"></span><span class="left-bottom-span"></span><span class="right-bottom-span"></span></div>
                            <h4>YOU ARE VOLUNTEER!</h4>
                            <div class="text">Please stop looking at your phone and pet me rub face on owner for have secret</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<!--Become VOlunteer Section-->
<section class="become-volunteer">
    <div class="auto-container">
        <div class="normal-title"><h3>BECOME A <strong>VOLUNTEER</strong></h3></div>

        <div class="default-form">
            <form method="post" action="http://wp1.themexlab.com/html2/preview-human-welfare/contact.html">
                <div class="row clearfix">

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">First Name <span class="req">*</span></div>
                        <input type="text" name="field-name" value="" placeholder="" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">Last Name </div>
                        <input type="text" name="field-name" value="" placeholder="">
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">Email <span class="req">*</span></div>
                        <input type="email" name="field-name" value="" placeholder="" required>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">Phone <span class="req">*</span></div>
                        <input type="email" name="field-name" value="" placeholder="" required>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">Why you join volunteer <span class="req">*</span></div>
                        <textarea name="field-name" placeholder="" required></textarea>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="theme-btn btn-style-three">Join Us</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>

